<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1> Transfer from: <%= @transaction.account.account_id %> to friends account: <%= @transfer.account.account_id %> for an amount: $ <%= @transaction.amount %> was successful!</h1> 
  </body>
</html>