<div class="center jumbotron">
<h2>Admins</h2>
<br>
  <h4>
	<% if !@admins.nil? %>
	<table id="transaction_table">
			<tr>
				<td>Admin name</td>
				<td>Email</td>
				<td>Action</td>
			</tr>  
	<% @admins.each do |admin| %>
		<div>
		<tr>
			<td><%= "#{admin.user.name}" %>
			<td><%= "#{admin.user.email}" %>
			<td><% if admin.predefined != 1 && admin.user.id != current_user.id %>			
				<%= link_to "delete", destroy_user_path(admin.user) %>
			<% end %>
		</tr>		
		</div>
	<% end %>
	</table>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to manage admins page", manage_admins_path() %>
</div>


