<div class="center jumbotron">
<h2>Admins</h2>
<br>
  <h4>
	<% if !@admins.nil? %>
	<% @admins.each do |admin| %>
		<div>
			<%= "Admin name: #{admin.user.name}" %><br>
			<%= "Email: #{admin.user.email}" %><br>
			<% if admin.predefined != 1 && admin.user.id != current_user.id %>			
				<%= link_to "delete this admin", destroy_user_path(admin.user) %>
			<% end %>
		</div>
		<br><br>
	<% end %>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to manage admins page", manage_admins_path() %>
</div>


