<div class="center jumbotron">
<h2>Admins</h2>
<br>
  <h4>
	<% if !@users.nil? %>
	<% @users.each do |user| %>
		<div>
			<%= "Admin name: #{user.name}" %><br>
			<%= "Email: #{user.email}" %><br>
			<% if user.id != 1 %>			
				<%= link_to "delete this admin", delete_user_path(user) %>
			<% end %>
		</div>
		<br><br>
	<% end %>
	<% end %>
  </h4>
<br>
  <%= link_to "Back to manage admins page", manage_admins_path() %>
</div>


