<% if !@accounts.blank? %>
	<table class = "tables">
	
		<h1>Account Details</h1>
		
		<tr>
			<td>Account ID</td>
			<td>Balance</td>
			<td>Status</td>
		</tr>
	
		<% @accounts.each do |each_account| %> 

			<tr>
				<td> <%= each_account.account_id %></td>
				<td> <%= each_account.balance %></td>
				<td> <%= account_status_name each_account.status %> </td>	
		<% end %>

		</table>
<% else %>
	<h1>No accounts found!</h1>
<% end %>



