<%= provide(:title,@user.name) %>
<div class="row">
	<aside class="col-md-4">
		<section class="user-info">
	
			<h1>
				USER DETAILS:	
			</h1>
			<ul type="none">
				
				<li>
					Name: <%= @user.name %>	
				</li>
				<li>
					Email ID: <%= @user.email %>	
				</li>
				
			</ul>
				
				<!--<%= gravatar_for @user %>-->
				
		</section>
	</aside>
</div>
